* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", sans-serif;
    margin: 15px;
    background-color: #808080;
}

main {
    flex: 0 1 auto;
    position: relative;
    background: #000000;
    color: #ffffff;
    width: 275px;
    height: 550px;
    padding: 10px;
    margin-top: 3%;
    border: 3px #c0c0c0 solid;
    border-radius: 35px;
}

.top-wrapper {
    display: flex;
    justify-content: space-around;
    column-gap: 115px;
    margin-bottom: 115px;
}

#clock {
    font-size: 13px;
}

img {
    width: 65px;
}

.screen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
    padding: 0 10px;
    margin: 0 0 10px 5px;
}

#main-screen {
    font-size: 54px;
}

#sub-screen {
    font-size: 12px;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: 0;
    border-radius: 50%;
}

button:hover {
    font-size: 28px;
    font-weight: bolder;
}

button:focus {
    outline-width: 0;
}

.operands, #negation, #period {
    background-color: #333;
    color: #ffffff;
}

.operands:active, #negation:active, #period:active, 
.operands.flash, #negation.flash, #period.flash {
    font-size: 20px;
    background-color: #565454;
}

#period {
    padding-bottom: 10px;
}

.operators, #equal {
    background-color: #ff9f0a;
    color: #ffffff;
}

.operators:active, #equal:active, 
.operators.flash, #equal.flash {
    font-size: 20px;
    background-color: #ffbd56;
}

#clear, #backspace, #percentage {
    background-color: #a5a5a5;
    color: #000000;
}

#clear:active, #backspace:active, #percentage:active,
#clear.flash, #backspace.flash, #percentage.flash {
    font-size: 20px;
    background-color: #edebeb;
}

#division, .operators#division:active, .operators#division.flash {
    font-size: 30px;
}

#division:hover {
    font-size: 35px;
}

.bottom {
    width: auto;
    margin: 30px 80px 20px 80px;
    border: 2px #c0c0c0 solid;
}