* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", sans-serif;
    margin: 15px;
    background-color: grey;
}

main {
    position: relative;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 310px;
    height: 600px;
    padding: 15px;
    border: 3px silver solid;
    border-radius: 35px;
}

.top-wrapper {
    display: flex;
    justify-content: space-around;
    column-gap: 170px;
    margin-bottom: 115px;
}

img {
    width: 65px;
}

.screen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
    padding: 0 10px;
    margin: 0 0 10px 5px;
}

#main-screen {
    font-size: 54px;
}

#sub-screen {
    font-size: 12px;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 22px;
    border: 0;
    border-radius: 50%;
}

button:hover {
    width: 65px;
    height: 65px;
    font-size: 22px;
    border: 0;
    border-radius: 50%;
}

button:focus {
    outline-width: 0;
}

.operands {
    background-color: #333;
    color: #ffffff;
}

.operators {
    background-color: #ff9f0a;
    color: #ffffff;
}

.operators:active, .operators.hidden {
    background-color: #ffbd56;
    color: #ffffff;
}

.eliminators {
    background-color: #a5a5a5;
    color: #000000;
}

#backspace {
    font-size: 15px;
}

#division {
    font-size: 30px;
}

.bottom {
    width: auto;
    margin: 25px 80px;
    border: 2px silver solid;
}