* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", sans-serif;
    margin: 15px;
    background-color: grey;
}

main {
    position: relative;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 315px;
    height: 600px;
    padding: 15px;
    border: 3px silver solid;
    border-radius: 35px;
}

.top-wrapper {
    display: flex;
    justify-content: space-around;
    column-gap: 170px;
    margin-bottom: 120px;
}

img {
    width: 65px;
}

.screen-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 10px;
    margin-bottom: 10px;
}

#main-screen {
    font-size: 50px;
}

#sub-screen {
    font-size: 12px;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button {
    width: 65px;
    height: 65px;
    font-size: 22px;
    border: 0;
    border-radius: 50%;
}

button:hover {
    width: 70px;
    height: 70px;
    font-size: 22px;
    border: 0;
    border-radius: 50%;
}

.digits, #negation, #period {
    background-color: #333;
    color: #ffffff;
}

.operators, #equal {
    background-color: #f1a33c;
    color: #ffffff;
}

#clear, #backspace, #percentage {
    background-color: #a5a5a5;
    color: #000000;
}

#backspace {
    font-size: 15px;
}

#division {
    font-size: 30px;
}